@model List<AnagraficaViewModel>

@{
    ViewBag.Title = "Elenco Anagrafica";
}

<h1>Elenco Anagrafica persone multate</h1>


   
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Cognome</th>
                    <th scope="col">Codice fisclae</th>
                    <th scope="col">Indirizzo</th>
                    <th scope="col">Città</th>
                    <th scope="col">CAP</th>
                    <th scope="col">Tipo di Infrazione</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                      @foreach (AnagraficaViewModel anagrafica in Model)
                        {
                           <tr>
                                <td>@anagrafica.Nome</td>
                                 <td>@anagrafica.Cognome</td>
                                 <td>@anagrafica.CodiceFiscale</td>
                                 <td>@anagrafica.Indirizzo</td>
                                 <td>@anagrafica.Citta</td>
                                 <td>@anagrafica.Cap</td>
                                 <td>@anagrafica.Verbale</td>
                           </tr>
                         }
                      }
                     else
                     {
                    <tr>
                        <td colspan="7" class="text-center">Nessuna anagrafica presente</td>
                   </tr>
                 }
            </tbody>
        </table>
    
<a class="btn btn-primary" asp-controller="Anagrafica" asp-action="Create">Inserisci Anagrafica</a>

